.slideWrapper {
  position: relative;
  width: 100%;
  max-height: 500px;
  aspect-ratio: 16/9;
  background-color: #39393987;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: grab;

  margin-top: 4rem;
}

.slideImage {
  position: relative;
  width: 65%;
  height: 95%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.5s;
}

.slideImage:hover {
  transform: scale(1.01);
}

.slideText {
  position: relative;
  width: 30%;
  height: 30%;
  padding-left: 2rem;
  padding-top: 3rem;
  color: #a392a8;
  font-size: 3vh;
  background-color: #faebd700;
  cursor: pointer;
  transition: transform 0.5s;
}

.slideText::before {
  content: "";
  position: absolute;
  top: 0;
  left: 25px;
  width: 85%;
  height: 1px;
  background-color: #a392a8;
  border-radius: 2px;
}

.slideText::after {
  content: "";
  position: absolute;
  top: 200;
  left: 25px;
  width: 85%;
  height: 1px;
  background-color: #a392a8;
  border-radius: 2px;
}

.slideText:hover {
  transform: scale(1.03);
}
:global(.swiper-pagination-bullet-active) {
  background-color: #a392a8 !important;
}

@media (max-width: 991) {
  .slideText {
    padding-left: 1rem;
    font-size: large;
  }

  .slideText::before {
    display: none;
  }

  .slideText::after {
    display: none;
  }
}

@media (max-width: 768px) {
  .slideImage {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .slideText {
    position: relative;
    margin-top: 4rem;
    padding-top: 0.5rem;
    width: 100%;
    height: 30%;
    background-color: #39393960;
  }
}

@media (max-width: 430px) {
  .slideText {
    position: relative;
    height: 80%;
  }
}
