.slideWrapper {
  position: relative;
  width: 100%;
  max-height: 500px;
  aspect-ratio: 16/9;
  background-color: #393939c7;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: grab;

  margin-top: 4rem;
  padding-bottom: 2rem;
}

.slideImage {
  position: relative;
  width: 65%;
  height: 95%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.5s;
}

.slideImage:hover {
  transform: scale(1.01);
}

.slideText {
  position: relative;
  letter-spacing: 0.05rem;
  width: 25%;
  height: 30%;
  padding-left: 2rem;
  padding-top: 3rem;
  color: #a392a8;
  font-size: 1.5rem;
  background-color: #faebd700;
  cursor: pointer;
  transition: transform 0.5s;
}

.slideText:hover {
  transform: scale(1.03);
}

@media (max-width: 991) {
  .slideText {
    padding-left: 1rem;
    height: 50%;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .slideWrapper {
    padding-bottom: 2rem;
    flex-direction: column;
    height: 350px;
  
  }

  .slideImage {
    
    width: 75%;
    height: 100%;
  }

  .slideText {
    position: relative;
    padding-top: 0rem;
    padding-bottom: 1rem;
    width: 80%;
    height: 20%;
    font-size: 0.75rem;
 
    
  }
}

@media (max-width: 430px) {

  .slideWrapper {
     height: 300px;
    

    
  }
  .slideText {
    position: relative;
    height: 20%;
   


  }
}

 @media (max-width: 387px) {
  .slideText {
    font-size: 0.75rem;
  }
} 
