.printwalk {
  padding-left: 5rem;
  padding-top: 1rem;
  position: absolute;
  top: 30vh;
  z-index: 1030;

  height: 38%;
}

@media (max-width: 991) {
  .printwalk {
    height: 26%;
  }
}

@media (max-width: 768px) {
  .printwalk {
    height: 25%;
  }
}
